@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
	background: #FFF;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	width: 100%;
}
.whole_body {
	margin: 50px;
	padding: 50px;
}

.demo-code {
	border: 1px #333333 solid;
	display: block;
	padding: 10px;
}
.option-table td {
}
/* Main navigation */
.sweetbot-logo {
	position: absolute;
	left: 160px;
	top: 64px;
	width: 300px;
	overflow: hidden;
}
#stickynav {	
	float: right;
	width: 40%;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-weight: bold;
	margin-top: 64px;
}
#stickynav ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}
#stickynav ul li {
	margin: 0px;
    display: inline-block;
}
#stickynav a {
	display: block;
    padding: 14px 20px;
    color: #3D6BB4;
    font-size: 23px;
    text-decoration: none;
}
ul a:hover {
	background-color: #DF9B67;
}
.section-index {
	width: 100%;
	margin: auto;
	padding: auto;
}
.content {
	margin: 50px;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 16px;
}
h1 {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	text-align: center;
	color: #3d6bb4;
	font-size: 40px;
	padding-top: 60px;
}
h2 {
	text-align: left;
	color: #3d6bb4;
	font-size: 30px;
	padding-top: 60px;
	margin-left: 300px;
	
}
h3 {
	text-align: center;
	color: #3d6bb4;
	font-size: 20px;
	padding-top: 0px;
}

/* info.html / book.html text sizes */

p {
	margin-left: 300px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 20px;
}

.image_ide {
	width: 60%;
	display: block;
	position:relative;
	margin-bottom: 50px;
}
.pdf-file {
	display: inline-block;
	margin-bottom: 100px;
	margin-left: 270px;
	font-size: 15px;
}
.image_hands {
	width: 30%;
	display: block;
	margin: 20px;
	margin-bottom: 200px;
	margin-left: 100px;
	margin-top: 100px;
}
section {
    display: block;
    height: auto;
    width: 100vw;
    overflow: hidden;
}
.hotbot {
	margin: auto;
	display: block;
}

.hotbot-logo {
	display: block;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 50px;
	width:70%;
}
.image-hotbot {
	width: 100%;
}
.site-footer {
	bottom: 0;
	width: 100%;
}
.footer_image {
	width: 100%;
}

.tlf-logo {
	width: 100px;
	position: absolute;
	left: 310px;
}
.tlf {
	position: absolute;
	left: 500px;
	margin-top: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
.mail-logo {
	width: 100px;
	position: absolute;
	left: 820px;
}
.mail {
	position: absolute;
	left: 1000px;
	margin-top: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

@media screen and (max-width : 768px) {

h1 {
    font-size: smaller;
    text-align: center;
    margin-top: 0px;
}
h2 {
	text-align: left;
	color: #3d6bb4;
	font-size: smaller;
	padding-top: 60px;
	margin-left: 10px
}

footer {
		display: none;
	}	
.sweetbot-logo {
	position: relative;
	top: 42px;
	left: 42px;
	width: 200px;
	overflow: hidden;
}
.sweetbot-background {
	background-color: #3d6bb4;
	width: 100%;
	height:124px;
	margin: 0;
	padding: 0;
	}
#stickynav {
	float: none;
	height: auto;
	position: static;
	padding: 0;
	margin:0;
	width: 100%;
	overflow: visible;
	font-size: 20px;
}
#stickynav ul li {
	position: static;
	width: 100%;
	display: block;
	}
	
#stickynav a {
	text-align: center;
	width: inherit;
	top: 0px;
	margin: 0;
	padding: 5px 7px;
	background: #3d6bb4;
	color: #DF9B67;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#stickynav a:hover {
	background: #3d6bb4;
}

.hotbot-logo {
	position: relative;
	display: block;
	width: 80%;
	}
.hotbot {
	height: 150px;	
	margin: 40px;
}
p {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	text-align: left;
	padding: 30px;
}
.pdf-file {
	margin-left: 0;	
	}}