@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
	background: #FFF;
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 34px;
	width: 100%;
}
.whole_body {
	margin: 50px;
	padding: 50px;
}

.demo-code {
	border: 1px #333333 solid;
	display: block;
	padding: 10px;
}
.option-table td {
	border-bottom: 1px #eeeeee solid;
}
/* Main navigation */
.sweetbot-logo {
	position: absolute;
	left: 160px;
	top: 80px;
	width: 400px;
	overflow: hidden;
}
#stickynav {		
	text-align: right;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-weight: bold;
}
#stickynav ul {
	list-style-type: none;
}
#stickynav ul li {
	margin: 0px;
    display: inline-block;	
	position: relative;
	right: 200px;
	top: 60px;
}
#stickynav a {
	display: block;
    padding: 14px 20px;
    color: #3D6BB4;
    font-size: 25px;
    text-decoration: none;
}
ul a:hover {
	background-color: #DF9B67;
}
.section-index {
	width: 100%;
	margin: auto;
	padding: auto;
}
.content {
	margin: 50px;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 16px;
}
h1 {
	text-align: center;
	color: #3d6bb4;
	font-size: 40px;
	padding-top: 60px;
}
h2 {
	text-align: center;
	color: #3d6bb4;
	font-size: 30px;
	padding-top: 60px;
}

/* info.html / book.html text sizes */

.hotbot-text p {
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: left;
	line-height: 40px;
}
p {
	margin: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}

.hvemervi {
	padding: 0 20% 0 20%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: left;
}
.info { 
    display: block;
	background-color: #749CD3;
	width: 100%;
	height: 100px;
	padding: 20px;
	margin: 120px 0 120px 0;
}
.image_ide {
	width: 80%;
	display: block;
	margin: auto;
}
section {
    display: block;
    height: auto;
    width: 100vw;
    overflow: hidden;
}
.hotbot {
	margin: 0;
	padding: 0;
	height: 390px;	
	background-color: #749CD3;
	background-size: contain;
	width: 100%;
	display: inline-block;
}
.hotbot-text {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #3D6BB4;
	display: inline-block;
}
.hotbot-logo {
	display: inline-block;
	width: 390px;
	margin-left: 25%;
}

.site-footer {
	background-color: #EAEAEA;
	background-size: cover;
	bottom: 0;
	width: 100%;
	height: 180px;
	font-size: 16px;
}

.tlf-logo {
	width: 100px;
	position: absolute;
	left: 310px;
}
.tlf {
	position: absolute;
	left: 500px;
	margin-top: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
.mail-logo {
	width: 100px;
	position: absolute;
	left: 820px;
}
.mail {
	position: absolute;
	left: 1000px;
	margin-top: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

@media screen and (max-width : 768px) {

h1 {
    font-size: smaller;
    text-align: center;
    margin-top: 0px;
}
h2 {
	text-align: center;
	color: #3d6bb4;
	font-size: smaller;
	padding-top: 60px;
}

footer {
		display: none;
	}	
.sweetbot-logo {
	position: absolute;
	top: 30px;
	width: 200px;
	overflow: hidden;
}
#stickynav ul li {
	text-align: center;
	width: 100%;
}
/* responsive dropdown styles*/
#stickynav ul li:hover > ul {
	position: static;
	display: block;
	width: 100%;
}
#stickynav ul ul li {
	display: block;
	width: 100%;
	background-color: #BB898A;
}
.hotbot-text p {
	margin-left: 40px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: center;
	line-height: smaller;
}
p {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: center;
	line-height: smaller;
}
.hotbot-logo {
	display: inline-block;
	width: 390px;
	margin-left: 5%;
	}
}
.hotbot {
	height: 100%;	
	background-color: #749CD3;
	background-size: contain;
	width: 100%;
	display: inline-block;
}
.hvemervi {
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: left;
}
.info { 
    display: block;
	background-color: #749CD3;
	width: 100%;
	height: 100px;
	padding: 20px;
	margin: 25.5px 0 10px 0;
}